.bg{
    background-color: #f5f5f5;
    font-family: -apple-system,BlinkMacSystemFont,opensans,Optima,"Microsoft Yahei",sans-serif;
    line-height: 1.8;
    font-size: 16px;
    font-weight: 300;
    overflow-x: hidden;
    margin: 0;
}
.bloginfo{
    width: 960px;
    background-color: #ffffff;
    margin: 20px auto;
    margin-top:20px; 
    border:1px solid rgba(192,192,192,0.3);
    transition: all 0.5s;
}
.bloginfo:hover {
    box-shadow: 2px 5px 10px 1px rgba(192,192,192,0.5);
}
.article_title {
    width: 900px;
    margin:20px auto;
    font-size: 16px;
}
.article_title p {
    padding: 20px;
    font-size: 20px;
}
.article_title h2{
    font-weight:normal;
    text-align: center;
    font-size: 30px;
    margin:0px;
}
.article_title a {
    margin-right: 20px;
}