.foot{
    font-family: -apple-system,BlinkMacSystemFont,opensans,Optima,"Microsoft Yahei",sans-serif;
    line-height: 1.8;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    overflow-x: hidden;
    margin: 0;
    background-color: #f5f5f5;
}
.copy-info a{
    text-decoration: none;
    color: #fff;
    }
#footer{
    width: 100%;
    height: 100px;
    background:rgba(35,40,45,1);
}
.copy-info{
    margin-top: 50px;
    padding-top: 20px;
    text-align: center;
}